<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.user.qrkid">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo_kid"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/logo_kid"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MenuActivity"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode"/>

        <activity
                android:name=".MusicActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".VocabActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".MathActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".PlayMelodyActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".QuizMelodyActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".DictionaryPlayActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity android:name=".SpellingABCActivity"
                  android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>